@media (max-device-width: 640px) {
  body, html {
    margin: 0.2pc;
  }

  .site-title {
    text-align: center;
    font-size: 20px;
  }

  #topbar {
    text-align: center;
  }

  #content {
    width: auto;
  }

  .left {
    float: none;
    width: auto;
    padding-right: 0;
    border-right: none;
  }

  .right {
    margin-left: 0;
  }
  
  .post-title {
    font-size: 1.25em;
  }
  
  .post-title-excerpt {
    font-size: 1.35em;
  }
  
  .post-date {
    margin-top: -1.3rem;
  }
}
