---
layout: default
---

{% assign post = page %}

<div class="post">
  <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  
  {{ content }}
  
  {% if post.category %}
            {% for site_category in site.data.categories %}
                {% if site_category.slug == post.category %}
                    {% assign category = site_category %}
                {% endif %}
            {% endfor %}
            {% if category %}
                {% capture category_content %} in <span class="label" style="background-color:{{ category.color }} color: white"><a href="/blog/category/{{ category.slug }}/">{{ category.name }}</a></span>{% endcapture %}
            {% endif %}
        {% else %}
            {% assign category_content = '' %}
        {% endif %}

        {% if post.tags.size > 0 %}
            {% capture tags_content %} with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
            {% for post_tag in post.tags %}
                {% for data_tag in site.data.tags %}
                    {% if data_tag.slug == post_tag %}
                        {% assign tag = data_tag %}
                    {% endif %}
                {% endfor %}
                {% if tag %}
                    {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
                    {% assign tags_content = tags_content_temp %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% assign tags_content = '' %}
        {% endif %}
        
   <p id="post-meta">{{ page.date | date_to_string }} Posted {{ category_content }}{{ tags_content }}</p>    
  
  <button onclick="load_disqus('{{ page.url }}', '{{ page.title }}');" class="pure-button blog-comment-button">View/Add Comments</button>
  
  <div id="disqus_thread"></div>
</div>

<div>
  {% if page.next.url %}
  <a href="{{ page.next.url }}">&larr; newer</a>
  {% endif %}
  {% if page.previous.url %}
  <a style="float:right" href="{{ page.previous.url }}">older &rarr;</a>
  {% endif %}
</div>
